body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 160px;
  padding: 0;
}
/* Encabezados */
h1 {
   color: #e74c3c; 
}
h2 { 
  color: #3498db; 
}
h3 {
   color: #f1c40f; 
  }
/* Logo y perfil */
.logo_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.perfil_img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
/* Secciones con colores distintos */
.perfil_section {
  background-color: #ffcccc; /* rojo claro */
  padding: 15px;
  margin: 20px auto;
  width: 80%;
}

.servicios_section {
  background-color: #ccffcc; /* verde claro */
  padding: 15px;
  margin: 20px auto;
  width: 80%;
}

.proyecto {
  background-color: #ccccff; /* azul claro */
  padding: 15px;
  margin: 20px auto;
  width: 80%;
}

.planes_section {
  background-color: #fff0b3; /* amarillo claro */
  padding: 15px;
  margin: 20px auto;
  width: 80%;
}

.formulario_section {
  background-color: #d9b3ff; /* violeta claro */
  padding: 15px;
  margin: 20px auto;
  width: 80%;
}

/* Tabla */
table {
  width: 100%;
  border-collapse: collapse;
}
table th, table td {
  border: 1px solid #333;
  padding: 8px;
}
div.menu{
 position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background-color: rgb(24, 145, 10);
  border: 3px solid black;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.menu li {
  display: inline-block;
  padding: 15px 20px;
}
a{
  text-decoration: none;
    color: springgreen;
}
.menu a:hover{
    color: blueviolet;
}
div.absoluto{
display:inline-block; 
   border:3px solid blue;
   background-color: darkgreen;
}
hr{
  border: 1px dashed rgb(0, 0, 0);
}
